node_modules
.DS_Store
dist
dist-ssr
dist-obfuscated
*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variable files
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

dist-terser

# deps lock file
bun.lockb
yarn.lock
package-lock.json
.pnpm-store

sqlite.db
